body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 4px;
    padding: 2px 6px 2px 6px !important;
    background-color: #f0f0f0 !important;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

h1 {font-size:1.9em;}
h2 {font-size:1.7em;}
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
h5 {font-size:1.0em;}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 1em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.0em;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

.table-nonfluid {
   width: auto !important;
}

th {
    border-bottom: 2px solid #ccc;
}

.table td, .table th {
    padding-left: 20px;
    padding-right: 20px;
}

code {
    
}

