<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<h2 class="no-anchor"><a class=brand href="{{ site.baseurl }}/">{{ site.title }}</a>
			    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
			</h2>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Downloads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Firmware Coming Soon...</a></li>
            <li><a href="http://qgroundcontrol.org/downloads">QGroundControl</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://gitter.im/bluerobotics/ardusub/">ArduSub Gitter Chat</a></li>
            <li><a href="https://www.bluerobotics.com/forums/forum/bluerov-and-bluerov-ros-pkg/">ArduSub Forum</a></li>
            <!--<li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
	</div>
</div>

