<ul class="sidenav nav nav-stacked">
    <li class=nav-header style="text-transform:none;font-size:1.5em;">ArduSub</li>

    <li><a href="{{ site.baseurl }}/">Home</a></li>
</ul>
<ul class="sidenav nav nav-stacked">
    {% for permalink in site.page-order %}
        {% for page in site.pages %}
            {% if permalink[0] == page.permalink %}
                <li class="nav-header" data-order="{{ page.order }}">{{ page.title }}</li>
                {% for section in page.nav %}
                    {% for heading in section %}
                        <li><a href="{{ site.baseurl }}{{ page.url }}#{{ heading[1] }}">{{ heading[0] }}</a></li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>

<hr />

<ul class="sidenav nav nav-list">
    <li class=nav-header>Sponsored by</li>

    <a href="http://bluerobotics.com"><img src="{{ site.baseurl }}/images/br-logo-small.png" width="250px" alt="Blue Robotics Logo" /></a>
</ul>

<hr />

<iframe src="https://ghbtns.com/github-btn.html?user=bluerobotics&repo=ardusub&type=star&count=true&v=2" frameborder="0" scrolling="0" width="80px" height="30px"></iframe>

<iframe src="https://ghbtns.com/github-btn.html?user=bluerobotics&repo=ardusub&type=fork&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>

<img src="https://travis-ci.org/bluerobotics/ardusub.svg?branch=master" />
