<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.subtitle }}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <!-- Javascript for creating automatic anchor icons -->
        <!-- make sure you include the latest version -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>

        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

        <style>
        @font-face {
          font-family: 'np_naipol_b';
          src: url("{{"/assets/fonts/np naipol all in one_b.eot" | prepend: site.baseurl }}");
          src: url("{{"/assets/fonts/np naipol all in one_b.eot?#iefix" | prepend: site.baseurl }}") format('embedded-opentype'),
               url("{{"/assets/fonts/np naipol all in one_b.woff" | prepend: site.baseurl }}") format('woff'),
               url("{{"/assets/fonts/np naipol all in one_b.ttf" | prepend: site.baseurl }}") format('truetype'),
               url("{{"/assets/fonts/np naipol all in one_b.svg#fp-20698" | prepend: site.baseurl }}") format('svg');
        }
        </style>
    </head>
    <body>

        {% include header.html %}

        <div class="container">
            <div class=row>
                {% assign post_count = site.posts|size %}
                {% if site.navigation != 0 and site.navigation == 1 or post_count > 0 %}
                    <div id=navigation class="col-sm-3">
                        {% include navigation.html %}
                    </div>

                    <div id=content class="col-sm-9">
                        {{ content }}
                    </div>
                {% else %}
                    <div id=content class="col-sm-12">
                        {{ content }}
                    </div>
                {% endif %}
            </div>

            {% if page.disqus == 1 %}
            <div class=row>
              {% if site.navigation == 1 or post_count > 0 %}
                <div id=navigation class="col-md-2"></div>
                <div id=disqus class="col-md-10">
                    {% include disqus.html %}
                </div>
              {% else %}
                <div id=disqus class="col-md-12">
                    {% include disqus.html %}
                </div>
              {% endif %}
            </div>
            {% endif %}

            <div class=row-fluid>
                <div id=footer class="col-md-12">
                    {% include footer.html %}
                </div>
            </div>
        </div>

        <script>
            function orderNav() {
                var list,
                    section,
                    header,
                    sections = [],
                    lists = {},
                    headers = {};

                var navUl = document.querySelectorAll('#navigation ul')[0],
                    navLis = document.querySelectorAll('#navigation ul li');

                if (!navUl) return;

                for (var i = 0; i < navLis.length; i++) {
                    var order, li = navLis[i];

                    if (li.classList.contains('nav-header')) {
                        section = li.textContent || li.innerText;
                        sections.push(section);
                        headers[section] = li;
                        continue;
                    }

                    if (!lists[section]) {
                        lists[section] = [];
                    }

                    order = parseFloat(li.getAttribute('data-order'))
                    lists[section].push([order, li]);
                }

                for (var i = 0; i < sections.length; i++) {
                    section = sections[i];
                    list = lists[section].sort(function(a, b) {
                        return a[0] - b[0];
                    });

                    if (header = headers[section]) {
                        navUl.appendChild(header);
                    }
                    for (var j = 0; j < list.length; j++) {
                        navUl.appendChild(list[j][1]);
                    }
                }
            }

            if (document.querySelectorAll) orderNav();
        </script>
        {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
        {% endif %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>        
    </body>
    <script>
    // Table Bootstrap Classes
    var tables = document.getElementsByTagName("table");
    for (var i=0, max=tables.length; i < max; i++) {
        tables[i].className += " table table-nonfluid";
    }
  </script>
  <script>
  /**
  * AnchorJS v1.1.1 options and selector
  */
  anchors.add('h1');
  anchors.add('h2');
  anchors.add('h3');
  anchors.add('h4');
  anchors.remove('.no-anchor');
   </script>
</html>
